<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4><%= @video.title %></h4>
            <h4>Embedded Video</h4>
            <h4 align="center"><%= image_tag(@video.preview) %></h4>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p align="justify"><%= raw @video.description %></p>
            Starring: <%= @video.starring %>
            <h5><%= @video.created_at.strftime('%b %d, %Y') %></h5>
            <div>
                <h3>BUY for: <%= @video.price %></h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
